#
# Systemd unit file for Dracon
#

[Unit]
Description=Dracon
Documentation=https://github.com/xcme/dracon
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/python2  /usr/local/etc/dracon/dracon.py start
ExecStop=/usr/bin/python2   /usr/local/etc/dracon/dracon.py stop
ExecReload=/usr/bin/python2 /usr/local/etc/dracon/dracon.py restart
PIDFile=/var/run/dracon.pid

[Install]
WantedBy=multi-user.target